[Unit]
Description=syscall monitor daemon
After=network.target network-online.target remote-fs.target basic.target
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=/usr/sbin/modprobe syscall_monitor
ExecStart=/usr/sbin/sysmond
ExecStop=/usr/bin/kill $MAINPID
ExecStopPost=/usr/sbin/rmmod syscall_monitor
KillMode=process

[Install]
WantedBy=multi-user.target
